version: '3'

services:
  postgres:
    image: postgres:latest
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=changeme
      - POSTGRES_DB=rsshub
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - rsshub-network

  rsshub:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - POSTGRES_HOST=postgres
      - POSTGRES_PORT=5432
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=changeme
      - POSTGRES_DBNAME=rsshub
      - CLI_APP_TIMER_INTERVAL=3m
      - CLI_APP_WORKERS_COUNT=3
    depends_on:
      - postgres
    networks:
      - rsshub-network

networks:
  rsshub-network:

volumes:
  postgres-data:
